.user-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}

.tables{
    display: flex;
    margin-top: 100px;
}

.balance{
   display: flex;
   
   justify-content: center;
   align-items: center;
}

.balance h3, .balance h2{
    text-align: center;
}
@media (max-width:900px){ 
    .tables, .balance{
        flex-direction: column;
    }
}

@media (max-width:760px){ 
    .balance{
        width: 500px;
        
    }
}