
<section class="text-center text-lg-start">

    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Log In Now</h2>
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="form-outline mb-4">
                  <input  type="text" id="username" name="username" class="form-control" placeholder="username" ngModel >
                  <label class="form-label" for="form3Example3">Username</label>
                </div>
  
                <div class="form-outline mb-4">
                  <input  type="password" id="password" name="password" class="form-control" placeholder="password" ngModel>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
  

                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Stay signed in
                  </label>
                </div>
  

                <button type="submit" class="btn btn-success btn-block mb-4">
                  Log In
                </button>
  
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="/assets/images/login.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>

  </section>
