.admin-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.sendButton{
    background-color: #C4F069;
    color: black;
    font-weight: bold;
    border-color: black;
  }

  .lastDiv{
    margin-bottom: 50px;
  }