<div class="container">

  
    <table class="table table-hover" *ngIf="existRegisters(); else withoutUsers">
      <tr class="table-header">
        <td>Id</td>
        <td>Name</td>
        <td>Lastname</td>
        <td>Delete</td>
        <td>Select</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td><button (click)="delete(user.id)" class="btn btn-outline-danger" >DELETE</button></td>
        <td><button (click)="select(user)" class="btn btn-outline-info">SELECT</button></td>
      </tr>
    </table>
  
      <ng-template #withoutUsers>
        <p>The database is empty</p>
      </ng-template>
  
      <div class="inputs">
        <p>
          id: <input  class="form-control" type="number" [(ngModel)]="user.id">
        </p>
        <p>
          Name: <input  class="form-control" type="text" [(ngModel)]="user.name">
        </p>
        <p>
          Lastname: <input  class="form-control" type="text" [(ngModel)]="user.lastname">
        </p>
        <p>
          <button (click)="add()" class="btn btn-outline-primary">ADD</button>
          <button (click)="modify()" class="btn btn-outline-secondary">MODIFY</button>
        </p>
  
      </div>
  
  </div>