.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }

  button{
    background-color: #C4F069;
    border-color: black;
    color: black;
  }

